@charset "UTF-8";

/* ===FONTES=== */

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Poppins', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: var(--fonte3);
    min-height: 100vh;
    background-color: darkgrey;
    
}

/* === HEADER === */

header {
    font-family: var(--fonte2);
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover {
    text-decoration: underline;
}


/* === SECTION === */

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 4vw;
    font-family: var(--fonte3);
    font-weight: bold;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(43, 42, 42);
    color: white;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.247);
}

/* === FOOTER === */

footer {
    font-family: var(--fonte1);
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
}


